<div class="jumbotron">
	<div class="container">
		<h1 class="text-center"><%= @message %></h1>
	</div>
</div>

<% if session[:is_admin] == true %>
	<div class="row">
		<div class="col-md-6 .col-sm-6 .col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">You own the following properties:</h3>
				</div>
				<div class="panel-body">
					<%= render 'home/table' %>
				 </div>
			</div>
		</div>

		<div class="col-md-6 .col-sm-6 .col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Add a location:</h3>
				</div>
				<div class="panel-body">
					<%= render 'home/form' %>
				</div>
			</div>
		</div>
	</div>

<% else%>
	<h3 class="text-center">Thank you for using Rentor.</h3>
	<h4 class="text-center">Your landlord's name is <%= @landlord.name.capitalize %></h4>
<% end%>
